body{
  background-color: #eeeeff;
  width: 784px;
}

.window-title{
  height: 59px;
  color:white;
  border-radius:6px;
  background-image: linear-gradient(#0060c0, #004890);
  box-shadow: 1px 3px 3px #909090;
  padding: 10px;
}

.pill-box, .list-box{
  margin-top: 20px;
  padding: 15px;
  border-radius: 6px;
  background-color: #fff;
  /*background-image: linear-gradient(#e6e6e6, #cccccc);*/
  box-shadow: 0 1px 4px 1px rgba(0, 0, 0, 0.14);
}

.list-box{
  min-height: 300px;
  display: flex;
  flex-direction: column;
}
.form-box{
  margin-top: 20px;
  padding: 15px;
  border-radius: 6px;
  background-color: #e5e5ff;
  box-shadow: 0 1px 4px 0px rgba(0, 0, 0, 0.14);
}

.pill-display{
  margin: 10px;
  display:flex;
  flex-wrap: wrap;
}

.adddata-box{
  margin-top: 20px;
  padding: 15px;
  border-radius: 6px;
  background-color: #d9d6bf;
  box-shadow: 0 1px 4px 0px rgba(0, 0, 0, 0.14);
}

.adddata-subtitle-box{
  display: flex;
  justify-content:space-around;
  padding-bottom: 10px;
}

.section-title{}

.pill{
  margin:4px;
  width: 80px;
  height: 30px;
  font-weight:bold;
  text-shadow: rgba(255,255,255,.5) 0px 1px 0;
  border-radius: 8px;
  padding-top: 4px;
  text-align: center;
  border-top: 1px solid rgba(255,255,255,0.8);
  border-bottom:1px solid rgba(0,0,0,0.1);
}

.student-pill{
  color: hsl(39, 100%, 30%)!important;
  background-color: hsl(39, 100%, 50%);
  background-image: -webkit-gradient(radial, 50% 0, 100, 50% 0, 0,
                    from( rgba(255,255,255,0) ), to( rgba(255,255,255,0.7) ));
  box-shadow: inset rgba(255,254,255,0.6) 0 0.3em .3em,
            inset rgba(0,0,0,0.15) 0 -0.1em .3em, /* inner shadow */
            hsl(39, 100%, 40%) 0 .1em 3px,
            hsl(39, 100%, 30%) 0 .3em 1px, /* color border */ rgba(0,0,0,0.2) 0 .5em 5px;
  }


.group-pill {
  color: hsl(88, 70%, 30%)!important;
  background-color: hsl(88, 70%, 60%);
  background-image: -webkit-gradient(radial, 50% 0, 100, 50% 0, 0,
                    from( rgba(255,255,255,0) ), to( rgba(255,255,255,0.7) ));
  box-shadow: inset rgba(255,254,255,0.6) 0 0.3em .3em,
            inset rgba(0,0,0,0.15) 0 -0.1em .3em, /* inner shadow */
            hsl(88, 70%, 40%) 0 .1em 3px,
            hsl(88, 70%, 30%) 0 .3em 1px, /* color border */ rgba(0,0,0,0.2) 0 .5em 5px;
}

.find-pill{
  color: hsl(0, 0%, 40%)!important;
  background-color: hsl(0, 0%, 70%);
  background-image: -webkit-gradient(radial, 50% 0, 100, 50% 0, 0,
                    from( rgba(255,255,255,0) ), to( rgba(255,255,255,0.7) ));
  box-shadow: inset rgba(255,254,255,0.6) 0 0.3em .3em,
            inset rgba(0,0,0,0.15) 0 -0.1em .3em, /* inner shadow */
            hsl(0, 0%, 60%) 0 .1em 3px,
            hsl(0, 0%, 45%) 0 .3em 1px, /* color border */ rgba(0,0,0,0.2) 0 .5em 5px;
}

.input-pill{
  color: hsl(340, 100%, 30%)!important;
  background-color: hsl(340, 100%, 75%);
  background-image: -webkit-gradient(radial, 50% 0, 100, 50% 0, 0,
                    from( rgba(255,255,255,0) ), to( rgba(255,255,255,0.7) ));
  box-shadow: inset rgba(255,254,255,0.6) 0 0.3em .3em,
            inset rgba(0,0,0,0.15) 0 -0.1em .3em, /* inner shadow */
            hsl(340, 70%, 50%) 0 .1em 3px,
            hsl(340, 80%, 40%) 0 .3em 1px, /* color border */ rgba(0,0,0,0.2) 0 .5em 5px;
}

.skill-pill{
  width: 190px;
  color: hsl(208, 50%, 40%)!important;
  background-color: hsl(208, 100%, 75%);
  background-image: -webkit-gradient(radial, 50% 0, 100, 50% 0, 0,
                    from( rgba(255,255,255,0) ), to( rgba(255,255,255,0.7) ));
  box-shadow: inset rgba(255,254,255,0.6) 0 0.3em .3em,
            inset rgba(0,0,0,0.15) 0 -0.1em .3em, /* inner shadow */
            hsl(208, 50%, 55%) 0 .1em 3px,
            hsl(208, 50%, 40%) 0 .3em 1px, /* color border */ rgba(0,0,0,0.2) 0 .5em 5px;
}

.input-label{}

.section-subtitle{}

#assign-grades{}

.pill-display{
  margin: 10px;
  display:flex;
  flex-wrap: wrap;
}

.adddata-box{
  margin-top: 15px;
}

.adddata-subtitle-box{
  display: flex;
  justify-content:space-around;
  padding-bottom: 10px;
}

/*apply on lessons html only*/
#counter{
  display: flex;
  justify-content:flex-start;
  align-items: center;
}

.counts-box{
  display: flex;
  justify-content:space-around;
  align-items: center;
  font-weight: bold;
}
.count-display{
  background-color: white;
  border: 1px solid #a9a9a9;
  padding: 3px 6px;
  text-align: center;
  margin-left: 4px;
  margin-right: 4px;
}


#performance{
  display: flex;
  justify-content:flex-start;
}

#assignGrades{
  display: flex;
  justify-content:flex-start;
}

.btn{
  margin:5px;
}

.active{
  color:pink;
  background-image: linear-gradient(#ff9030, #a9a9a9);
}

.accordion:hover {
  background-image: linear-gradient(#ff9030, #a9a9a9);
}

.head{
  color: red;
}
#addStudentBox{
  display: none;
}
