body{
  background-color: #e1debc;
}

.window-title{}

.pill-box{}

.section-title{}

.student-pill{}

.group-pill{
  width: 80px;
  height: 30px;
  color: hsl(340, 100%, 30%)!important;
  background-color: hsl(340, 100%, 75%);
  font-weight:bold;
  text-shadow: rgba(255,255,255,.5) 0px 1px 0;
  border-radius: 8px;
  padding-top: 4px;
  text-align: center;
  border-top: 1px solid rgba(255,255,255,0.8);
  border-bottom:1px solid rgba(0,0,0,0.1);
  background-image: -webkit-gradient(radial, 50% 0, 100, 50% 0, 0,
                      from( rgba(255,255,255,0) ), to( rgba(255,255,255,0.7) ));
  box-shadow: inset rgba(255,254,255,0.6) 0 0.3em .3em,
              inset rgba(0,0,0,0.15) 0 -0.1em .3em, /* inner shadow */
              hsl(340, 70%, 50%) 0 .1em 3px,
              hsl(340, 80%, 40%) 0 .3em 1px, /* color border */ rgba(0,0,0,0.2) 0 .5em 5px;
}

.input-pill{}

.find-pill{}

.input-label{}

.section-subtitle{}

#assign-grades{}

.pill-desplay{}

.form-box{}

.adddata-box{}

.adddata-subtitle-box
