body{
  background-color: #eeeeff;
  width: 784px;
}

.window-title{
  height: 59px;
  width: 100%;
  text-align: left;
  color:white;
  border-radius:6px !important;
  background-image: linear-gradient(#0060c0, #004890);
  box-shadow: 1px 3px 3px #909090 !important;
  padding: 5px;
  border: 0px;
  font-size: 36px;
}

.glyphicon{
  font-size: 30px;
}

.headBar{
  display: inline;
}

button {
  margin-top:5px;
}
.list-box{
  min-height: 300px;
  display: flex;
  flex-direction: column;
}

.form-box{
  margin-top: 20px;
  padding: 15px;
  border-radius: 6px;
  background-color: #e5e5ff;
  box-shadow: 0 1px 4px 0px rgba(0, 0, 0, 0.14);
}

.adddata-box{
  margin-top: 20px;
  padding: 15px;
  border-radius: 6px;
  background-color: #d9d6bf;
  box-shadow: 0 1px 4px 0px rgba(0, 0, 0, 0.14);
}

.adddata-subtitle-box{
  display: flex;
  justify-content:space-around;
  padding-bottom: 10px;
}

.btn{
  margin:5px;
}

.section-title{}

/* == PILLS STYLE ============================================= */
.pill-box, .list-box{
    margin-top: 20px;
    padding: 15px;
    border-radius: 6px;
    background-color: #fff;
    /*background-image: linear-gradient(#e6e6e6, #cccccc);*/
    box-shadow: 0 1px 4px 1px rgba(0, 0, 0, 0.14);
  }

.pill-display{
    margin: 10px;
    display:flex;
    flex-wrap: wrap;
  }

.pill{
  margin:4px;
  width: 80px;
  height: 30px;
  font-weight:bold;
  text-shadow: rgba(255,255,255,.5) 0px 1px 0;
  border-radius: 8px;
  padding-top: 4px;
  text-align: center;
  border-top: 1px solid rgba(255,255,255,0.8);
  border-bottom:1px solid rgba(0,0,0,0.1);
}

.student-pill{
  color: hsl(39, 100%, 30%)!important;
  background-color: hsl(39, 100%, 50%);
  background-image: -webkit-gradient(radial, 50% 0, 100, 50% 0, 0,
                    from( rgba(255,255,255,0) ), to( rgba(255,255,255,0.7) ));
  box-shadow: inset rgba(255,254,255,0.6) 0 0.3em .3em,
            inset rgba(0,0,0,0.15) 0 -0.1em .3em, /* inner shadow */
            hsl(39, 100%, 40%) 0 .1em 3px,
            hsl(39, 100%, 30%) 0 .3em 1px, /* color border */ rgba(0,0,0,0.2) 0 .5em 5px;
  }

.group-pill {
  color: hsl(88, 70%, 30%)!important;
  background-color: hsl(88, 70%, 60%);
  background-image: -webkit-gradient(radial, 50% 0, 100, 50% 0, 0,
                    from( rgba(255,255,255,0) ), to( rgba(255,255,255,0.7) ));
  box-shadow: inset rgba(255,254,255,0.6) 0 0.3em .3em,
            inset rgba(0,0,0,0.15) 0 -0.1em .3em, /* inner shadow */
            hsl(88, 70%, 40%) 0 .1em 3px,
            hsl(88, 70%, 30%) 0 .3em 1px, /* color border */ rgba(0,0,0,0.2) 0 .5em 5px;
}

.find-pill{
  color: hsl(0, 0%, 40%)!important;
  background-color: hsl(0, 0%, 70%);
  background-image: -webkit-gradient(radial, 50% 0, 100, 50% 0, 0,
                    from( rgba(255,255,255,0) ), to( rgba(255,255,255,0.7) ));
  box-shadow: inset rgba(255,254,255,0.6) 0 0.3em .3em,
            inset rgba(0,0,0,0.15) 0 -0.1em .3em, /* inner shadow */
            hsl(0, 0%, 60%) 0 .1em 3px,
            hsl(0, 0%, 45%) 0 .3em 1px, /* color border */ rgba(0,0,0,0.2) 0 .5em 5px;
}

.input-pill{
  color: hsl(340, 100%, 30%)!important;
  background-color: hsl(340, 100%, 75%);
  background-image: -webkit-gradient(radial, 50% 0, 100, 50% 0, 0,
                    from( rgba(255,255,255,0) ), to( rgba(255,255,255,0.7) ));
  box-shadow: inset rgba(255,254,255,0.6) 0 0.3em .3em,
            inset rgba(0,0,0,0.15) 0 -0.1em .3em, /* inner shadow */
            hsl(340, 70%, 50%) 0 .1em 3px,
            hsl(340, 80%, 40%) 0 .3em 1px, /* color border */ rgba(0,0,0,0.2) 0 .5em 5px;
}

.skill-pill{
  width: 190px;
  color: hsl(208, 50%, 40%)!important;
  background-color: hsl(208, 100%, 75%);
  background-image: -webkit-gradient(radial, 50% 0, 100, 50% 0, 0,
                    from( rgba(255,255,255,0) ), to( rgba(255,255,255,0.7) ));
  box-shadow: inset rgba(255,254,255,0.6) 0 0.3em .3em,
            inset rgba(0,0,0,0.15) 0 -0.1em .3em, /* inner shadow */
            hsl(208, 50%, 55%) 0 .1em 3px,
            hsl(208, 50%, 40%) 0 .3em 1px, /* color border */ rgba(0,0,0,0.2) 0 .5em 5px;
}

/*== END OF PILLS STYLE =========================================*/

.input-label{}

.section-subtitle{}

#assign-grades{}

.adddata-box{
  margin-top: 15px;
}

.adddata-subtitle-box{
  display: flex;
  justify-content:space-around;
  padding-bottom: 10px;
}

/* ======== lessons html only=========================== */
#counter{
  display: flex;
  justify-content:flex-start;
  align-items: center;
}

.counts-box{
  display: flex;
  justify-content:space-around;
  align-items: center;
  font-weight: bold;
}
.count-display{
  background-color: white;
  border: 1px solid #a9a9a9;
  padding: 3px 6px;
  text-align: center;
  margin-left: 4px;
  margin-right: 4px;
}

#performance{
  display: flex;
  justify-content:flex-start;
}

#assignGrades{
  display: flex;
  justify-content:flex-start;
}

/*== EXPANDED PANNELS ===================================*/
.childExpanded{
  height: 59px;
  width: 100%;
  text-align: left;
  color: #d9d9d9;
  border-radius:6px;
  background-image: linear-gradient(#004890, #003366);
  box-shadow: 1px 3px 3px #909090;
  padding: 5px;
  border: 0px;
  font-size: 36px;
}

.expander:hover {
  background-image: linear-gradient(#004890, #003366);
  color:#d9d9d9;
}

.loadsContracted{
  display: none;
}

.expander:focus{
outline: 0;
}

.childExpanded:focus{
  outline: 0;
}

/*== MODALS ===================================*/
.modal-screen{
  display: none; /* Hidden by default */
   position: fixed; /* Stay in place */
   z-index: 1; /* Sit on top */
   left: 0;
   top: 0;
   width: 100%; /* Full width */
   height: 100%; /* Full height */
   overflow: auto; /* Enable scroll if needed */
   background-color: rgb(0,0,0); /* Fallback color */
   background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.modal-dialog{
  margin: 15% auto;
}

.modal-footer{
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
}
